# cổng để chạy node
PORT=

# biến môi trường trong models/index.js - chọn loại csdl
# development hoặc test hoặc production
NODE_ENV=

# tên database
DATABASE_NAME=

# đường dẫn phía react
REACT_URL=
